### Libraries

In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from math import sqrt

### Collaborative

In [18]:
movies_df = pd.read_csv('movies.csv')
movies_df = movies_df.drop('genres', axis=1) # drop genres because in collaborative we dont need to know features of items
movies_df

      movieId                                      title
0           1                           Toy Story (1995)
1           2                             Jumanji (1995)
2           3                    Grumpier Old Men (1995)
3           4                   Waiting to Exhale (1995)
4           5         Father of the Bride Part II (1995)
...       ...                                        ...
9737   193581  Black Butler: Book of the Atlantic (2017)
9738   193583               No Game No Life: Zero (2017)
9739   193585                               Flint (2017)
9740   193587        Bungo Stray Dogs: Dead Apple (2018)
9741   193609        Andrew Dice Clay: Dice Rules (1991)

[9742 rows x 2 columns]

In [19]:
ratings_df = pd.read_csv('ratings.csv')
ratings_df = ratings_df.drop('timestamp',axis=1) #drop time
ratings_df

        userId  movieId  rating
0            1        1     4.0
1            1        3     4.0
2            1        6     4.0
3            1       47     5.0
4            1       50     5.0
...        ...      ...     ...
100831     610   166534     4.0
100832     610   168248     5.0
100833     610   168250     5.0
100834     610   168252     5.0
100835     610   170875     3.0

[100836 rows x 3 columns]

In [20]:
inputMovies = pd.DataFrame({'movieId':[1968,1,2,296,1274],'rating':[5.0,3.5,2.0,5.0,4.5]})
inputMovies = inputMovies.sort_values(by='movieId')
inputMovies = pd.merge(inputMovies, movies_df) #add movieId for each movie
inputMovies

   movieId  rating                       title
0        1     3.5            Toy Story (1995)
1        2     2.0              Jumanji (1995)
2      296     5.0         Pulp Fiction (1994)
3     1274     4.5                Akira (1988)
4     1968     5.0  Breakfast Club, The (1985)

In [21]:
#we need all ratings of other users to movies witch our user rate too
subsetratings = ratings_df[ratings_df['movieId'].isin(inputMovies['movieId'].tolist())]
subsetratings

       userId  movieId  rating
0           1        1     4.0
16          1      296     3.0
320         4      296     1.0
422         4     1968     4.0
516         5        1     4.0
...       ...      ...     ...
99510     609      296     4.0
99534     610        1     5.0
99552     610      296     5.0
99636     610     1274     5.0
99664     610     1968     4.0

[784 rows x 3 columns]

In [22]:
#becuase of the subset above is to large we should seprate a subset of that witch have more important to us
# (users whose have more rating in common with our user)
# so we group them by userId and get top 100 of the list
ratingGroups = subsetratings.groupby('userId')

In [23]:
ratingGroups = sorted(ratingGroups, key=lambda x: len(x[1]),reverse=True)
ratingGroups = ratingGroups[:100]
ratingGroups

[(91,
         userId  movieId  rating
  14121      91        1     4.0
  14122      91        2     3.0
  14173      91      296     4.5
  14316      91     1274     5.0
  14383      91     1968     3.0),
 (177,
         userId  movieId  rating
  24900     177        1     5.0
  24901     177        2     3.5
  24930     177      296     5.0
  25069     177     1274     2.0
  25129     177     1968     3.5),
 (219,
         userId  movieId  rating
  31524     219        1     3.5
  31525     219        2     2.5
  31554     219      296     4.0
  31628     219     1274     2.5
  31680     219     1968     3.0),
 (274,
         userId  movieId  rating
  39229     274        1     4.0
  39230     274        2     3.5
  39288     274      296     5.0
  39448     274     1274     4.0
  39549     274     1968     4.0),
 (298,
         userId  movieId  rating
  44535     298        1     2.0
  44536     298        2     0.5
  44555     298      296     4.5
  44620     298     1274     4.0
  44655     298     1968     3.5),
 (414,
         userId  movieId  rating
  62294     414        1     4.0
  62295     414        2     3.0
  62425     414      296     5.0
  62769     414     1274     4.0
  62957     414     1968     5.0),
 (474,
         userId  movieId  rating
  73092     474        1     4.0
  73093     474        2     3.0
  73172     474      296     4.0
  73466     474     1274     2.0
  73641     474     1968     3.5),
 (477,
         userId  movieId  rating
  75424     477        1     4.0
  75425     477        2     4.0
  75447     477      296     4.5
  75558     477     1274     5.0
  75613     477     1968     4.0),
 (480,
         userId  movieId  rating
  76227     480        1     3.0
  76228     480        2     3.0
  76273     480      296     4.0
  76396     480     1274     4.0
  76462     480     1968     3.5),
 (483,
         userId  movieId  rating
  77222     483        1     4.0
  77223     483        2     4.0
  77265     483      296     5.0
  77375     483     1274     3.5
  77431     483     1968     3.5),
 (599,
         userId  movieId  rating
  92623     599        1     3.0
  92624     599        2     2.5
  92742     599      296     5.0
  93073     599     1274     5.0
  93269     599     1968     3.5),
 (608,
         userId  movieId  rating
  98666     608        1     2.5
  98667     608        2     2.0
  98723     608      296     5.0
  98882     608     1274     4.0
  98980     608     1968     4.0),
 (50,
        userId  movieId  rating
  7112      50        1     3.0
  7116      50      296     4.0
  7158      50     1274     4.0
  7175      50     1968     2.5),
 (57,
        userId  movieId  rating
  8035      57        1     5.0
  8071      57      296     3.0
  8230      57     1274     3.0
  8321      57     1968     4.0),
 (68,
         userId  movieId  rating
  10360      68        1     2.5
  10361      68        2     2.5
  10419      68      296     2.0
  10679      68     1968     3.0),
 (103,
         userId  movieId  rating
  15565     103        1     4.0
  15566     103        2     4.0
  15587     103      296     5.0
  15684     103     1968     4.0),
 (135,
         userId  movieId  rating
  20336     135        1     4.0
  20337     135        2     3.0
  20357     135      296     4.0
  20482     135     1968     4.0),
 (182,
         userId  movieId  rating
  26092     182        1     4.0
  26152     182      296     5.0
  26301     182     1274     5.0
  26418     182     1968     5.0),
 (202,
         userId  movieId  rating
  29378     202        1     4.0
  29379     202        2     4.0
  29401     202      296     4.0
  29597     202     1968     5.0),
 (217,
         userId  movieId  rating
  30885     217        1     4.0
  30886     217        2     2.0
  30932     217      296     2.0
  31224     217     1968     4.0),
 (226,
         userId  movieId  rating
  33044     226        1     3.5
  33045     226        2     3.0
  33083     226      296     4.5
  33217     226     1968     4.0),
 (288,
         userId  movieId  rating
  42114     288        1     4.5
  42115     288        2     2.0
  42150     288      296     5.0
  42438     288     1968     3.0),
 (307,
         userId  movieId  rating
  46733     307        1     4.0
  46734     307        2     2.5
  46790     307      296     4.5
  47011     307     1968     4.5),
 (318,
         userId  movieId  rating
  48984     318        2     3.5
  49009     318      296     4.5
  49091     318     1274     5.0
  49126     318     1968     3.5),
 (322,
         userId  movieId  rating
  49974     322        1     3.5
  49975     322        2     3.0
  49983     322      296     5.0
  50026     322     1968     3.0),
 (330,
         userId  movieId  rating
  50948     330        1     4.0
  50949     330        2     1.5
  50975     330      296     4.0
  51094     330     1968     5.0),
 (357,
         userId  movieId  rating
  54123     357        1     5.0
  54124     357        2     3.0
  54148     357      296     4.5
  54290     357     1968     4.0),
 (434,
         userId  movieId  rating
  67080     434        1     4.0
  67081     434        2     2.5
  67100     434      296     5.0
  67154     434     1274     5.0),
 (448,
         userId  movieId  rating
  68655     448        1     5.0
  68656     448        2     3.0
  68694     448      296     5.0
  68943     448     1968     3.0),
 (469,
         userId  movieId  rating
  72453     469        1     4.0
  72478     469      296     5.0
  72613     469     1274     4.0
  72696     469     1968     5.0),
 (561,
         userId  movieId  rating
  86582     561        1     4.0
  86583     561        2     4.0
  86601     561      296     4.5
  86710     561     1968     4.0),
 (600,
         userId  movieId  rating
  95101     600        1     2.5
  95102     600        2     4.0
  95154     600      296     4.5
  95306     600     1274     3.5),
 (606,
         userId  movieId  rating
  97364     606        1     2.5
  97418     606      296     5.0
  97592     606     1274     4.0
  97692     606     1968     4.0),
 (610,
         userId  movieId  rating
  99534     610        1     5.0
  99552     610      296     5.0
  99636     610     1274     5.0
  99664     610     1968     4.0),
 (18,
        userId  movieId  rating
  1772      18        1     3.5
  1773      18        2     3.0
  1796      18      296     4.0),
 (19,
        userId  movieId  rating
  2274      19        1     4.0
  2275      19        2     3.0
  2629      19     1968     2.0),
 (21,
        userId  movieId  rating
  3219      21        1     3.5
  3220      21        2     3.5
  3231      21      296     3.5),
 (45,
        userId  movieId  rating
  6477      45        1     4.0
  6511      45      296     5.0
  6662      45     1968     4.0),
 (63,
        userId  movieId  rating
  9157      63        1     5.0
  9172      63      296     5.0
  9242      63     1968     4.0),
 (64,
        userId  movieId  rating
  9428      64        1     4.0
  9466      64      296     4.5
  9622      64     1968     3.5),
 (66,
         userId  movieId  rating
  9979       66        1     4.0
  10002      66      296     5.0
  10128      66     1968     4.0),
 (107,
         userId  movieId  rating
  16970     107        1     4.0
  16971     107        2     5.0
  16992     107      296     3.0),
 (122,
         userId  movieId  rating
  18831     122        2     4.0
  18845     122      296     5.0
  18900     122     1968     4.5),
 (132,
         userId  movieId  rating
  19919     132        1     2.0
  19946     132      296     4.0
  20048     132     1968     4.0),
 (140,
         userId  movieId  rating
  21083     140        1     3.0
  21084     140        2     3.5
  21119     140      296     4.0),
 (141,
         userId  movieId  rating
  21691     141        1     4.0
  21700     141      296     4.0
  21734     141     1968     4.0),
 (144,
         userId  movieId  rating
  21968     144        1     3.5
  21969     144        2     3.0
  21989     144      296     4.0),
 (153,
         userId  movieId  rating
  22425     153        1     2.0
  22426     153        2     2.0
  22429     153      296     3.0),
 (156,
         userId  movieId  rating
  22684     156        1     4.0
  22707     156      296     5.0
  22891     156     1968     3.5),
 (160,
         userId  movieId  rating
  23226     160        1     4.0
  23227     160        2     4.0
  23264     160      296     5.0),
 (166,
         userId  movieId  rating
  23864     166        1     5.0
  23874     166      296     4.5
  23932     166     1968     2.5),
 (198,
         userId  movieId  rating
  28361     198      296     5.0
  28417     198     1274     4.0
  28454     198     1968     3.0),
 (200,
         userId  movieId  rating
  28934     200        1     3.5
  28949     200      296     5.0
  29025     200     1968     4.0),
 (201,
         userId  movieId  rating
  29268     201        1     5.0
  29283     201      296     5.0
  29337     201     1968     5.0),
 (232,
         userId  movieId  rating
  33898     232        1     3.5
  33899     232        2     4.0
  33913     232      296     5.0),
 (240,
         userId  movieId  rating
  35580     240        1     5.0
  35581     240        2     5.0
  35631     240      296     2.0),
 (249,
         userId  movieId  rating
  36374     249        1     4.0
  36375     249        2     4.0
  36398     249      296     4.0),
 (266,
         userId  movieId  rating
  38665     266        1     2.0
  38687     266      296     5.0
  38781     266     1968     2.0),
 (275,
         userId  movieId  rating
  40575     275        1     5.0
  40596     275      296     5.0
  40749     275     1968     4.0),
 (282,
         userId  movieId  rating
  41460     282        1     4.5
  41472     282      296     4.0
  41533     282     1968     4.0),
 (292,
         userId  movieId  rating
  43491     292        1     4.0
  43505     292      296     3.0
  43586     292     1968     3.0),
 (294,
         userId  movieId  rating
  43958     294        2     3.0
  43990     294      296     4.0
  44184     294     1968     3.0),
 (304,
         userId  movieId  rating
  45728     304        1     5.0
  45729     304        2     4.0
  45768     304      296     5.0),
 (305,
         userId  movieId  rating
  45944     305        2     3.5
  45962     305      296     5.0
  46076     305     1968     5.0),
 (313,
         userId  movieId  rating
  48261     313      296     5.0
  48336     313     1274     5.0
  48389     313     1968     2.0),
 (323,
         userId  movieId  rating
  50081     323        1     3.5
  50082     323        2     4.0
  50112     323      296     4.0),
 (328,
         userId  movieId  rating
  50670     328        1     5.0
  50681     328      296     5.0
  50765     328     1968     2.5),
 (353,
         userId  movieId  rating
  53492     353        1     5.0
  53493     353        2     4.0
  53547     353      296     5.0),
 (359,
         userId  movieId  rating
  54547     359        1     4.0
  54548     359        2     3.5
  54553     359      296     4.0),
 (372,
         userId  movieId  rating
  56128     372        1     3.0
  56180     372      296     4.0
  56313     372     1274     1.0),
 (373,
         userId  movieId  rating
  56364     373        1     3.0
  56365     373        2     3.0
  56415     373      296     5.0),
 (380,
         userId  movieId  rating
  56878     380        1     5.0
  56879     380        2     5.0
  56920     380      296     5.0),
 (381,
         userId  movieId  rating
  58096     381        1     3.5
  58097     381        2     4.0
  58212     381     1968     5.0),
 (387,
         userId  movieId  rating
  59269     387      296     5.0
  59453     387     1274     4.5
  59540     387     1968     3.5),
 (391,
         userId  movieId  rating
  60405     391        1     3.0
  60430     391      296     5.0
  60603     391     1968     4.0),
 (411,
         userId  movieId  rating
  62009     411        1     5.0
  62010     411        2     4.0
  62071     411      296     5.0),
 (425,
         userId  movieId  rating
  65884     425        2     3.0
  65914     425      296     4.0
  66035     425     1968     3.5),
 (432,
         userId  movieId  rating
  66798     432        1     2.5
  66799     432        2     4.0
  66814     432      296     2.5),
 (462,
         userId  movieId  rating
  71544     462        1     1.5
  71563     462      296     2.5
  71678     462     1968     4.0),
 (470,
         userId  movieId  rating
  72918     470        1     4.0
  72919     470        2     3.0
  72954     470      296     3.0),
 (476,
         userId  movieId  rating
  75355     476        1     4.0
  75356     476        2     4.0
  75380     476      296     3.0),
 (484,
         userId  movieId  rating
  77950     484        1     4.5
  77951     484        2     2.5
  78032     484     1968     4.0),
 (489,
         userId  movieId  rating
  78471     489        2     2.5
  78512     489      296     4.0
  78699     489     1968     4.0),
 (500,
         userId  movieId  rating
  79907     500        1     4.0
  79942     500     1274     4.0
  79957     500     1968     4.0),
 (504,
         userId  movieId  rating
  80168     504        1     4.0
  80171     504      296     4.0
  80184     504     1968     4.0),
 (514,
         userId  movieId  rating
  81082     514        1     4.0
  81096     514      296     4.0
  81190     514     1968     4.0),
 (525,
         userId  movieId  rating
  82613     525        1     4.0
  82614     525        2     3.5
  82713     525     1968     4.5),
 (555,
         userId  movieId  rating
  85291     555        1     4.0
  85325     555      296     4.0
  85541     555     1968     5.0),
 (559,
         userId  movieId  rating
  85984     559        1     5.0
  85985     559        2     4.0
  86029     559      296     3.0),
 (560,
         userId  movieId  rating
  86124     560        1     3.0
  86140     560      296     4.0
  86177     560     1274     3.5),
 (562,
         userId  movieId  rating
  87087     562        1     4.5
  87093     562      296     5.0
  87147     562     1968     5.0),
 (570,
         userId  movieId  rating
  88219     570        1     4.0
  88220     570        2     3.5
  88341     570     1968     4.0),
 (573,
         userId  movieId  rating
  88677     573        1     5.0
  88678     573        2     4.5
  88693     573      296     5.0),
 (590,
         userId  movieId  rating
  90517     590        1     4.0
  90518     590        2     2.5
  90546     590      296     4.5),
 (603,
         userId  movieId  rating
  96100     603        1     4.0
  96171     603      296     5.0
  96414     603     1274     1.0),
 (604,
         userId  movieId  rating
  97043     604        1     3.0
  97044     604        2     5.0
  97103     604      296     5.0),
 (605,
         userId  movieId  rating
  97143     605        1     4.0
  97144     605        2     3.5
  97151     605      296     2.0),
 (607,
         userId  movieId  rating
  98479     607        1     4.0
  98496     607      296     3.0
  98574     607     1968     5.0),
 (1,
      userId  movieId  rating
  0        1        1     4.0
  16       1      296     3.0),
 (4,
       userId  movieId  rating
  320       4      296     1.0
  422       4     1968     4.0)]

In [24]:
#this cell is a copy of original code and I didnt change it at all
#It calculate similarity between our user and other 100 users

#Store the Pearson Correlation in a dictionary, where the key is the user Id and the value is the coefficient
pearsonCorrelationDict = {}

#For every user group in our subset
for name, group in ratingGroups:
    #Let's start by sorting the input and current user group so the values aren't mixed up later on
    group = group.sort_values(by='movieId')
    inputMovies = inputMovies.sort_values(by='movieId')
    #Get the N for the formula
    nRatings = len(group)
    #Get the review scores for the movies that they both have in common
    temp_df = inputMovies[inputMovies['movieId'].isin(group['movieId'].tolist())]
    #And then store them in a temporary buffer variable in a list format to facilitate future calculations
    tempRatingList = temp_df['rating'].tolist()
    #Let's also put the current user group reviews in a list format
    tempGroupList = group['rating'].tolist()
    #Now let's calculate the pearson correlation between two users, so called, x and y
    Sxx = sum([i**2 for i in tempRatingList]) - pow(sum(tempRatingList),2)/float(nRatings)
    Syy = sum([i**2 for i in tempGroupList]) - pow(sum(tempGroupList),2)/float(nRatings)
    Sxy = sum( i*j for i, j in zip(tempRatingList, tempGroupList)) - sum(tempRatingList)*sum(tempGroupList)/float(nRatings)
    
    #If the denominator is different than zero, then divide, else, 0 correlation.
    if Sxx != 0 and Syy != 0:
        pearsonCorrelationDict[name] = Sxy/sqrt(Sxx*Syy)
    else:
        pearsonCorrelationDict[name] = 0

In [25]:
pearsonCorrelationDict

{91: 0.43852900965351443,
 177: 0.0,
 219: 0.45124262819713973,
 274: 0.716114874039432,
 298: 0.9592712306918567,
 414: 0.9376144618769914,
 474: 0.11720180773462392,
 477: 0.4385290096535153,
 480: 0.7844645405527362,
 483: 0.08006407690254357,
 599: 0.7666866491579839,
 608: 0.920736884379251,
 50: 0.15713484026367722,
 57: -0.7385489458759964,
 68: 0.0,
 103: 0.5222329678670935,
 135: 0.8703882797784892,
 182: 0.9428090415820635,
 202: 0.5222329678670935,
 217: 0.30151134457776363,
 226: 0.9438798074485389,
 288: 0.6005325641789633,
 307: 0.9655810287305759,
 318: 0.44486512077567225,
 322: 0.5057805388588731,
 330: 0.9035942578600878,
 357: 0.5606119105813882,
 434: 0.9864036607532465,
 448: 0.30151134457776363,
 469: 0.8164965809277261,
 561: 0.5222329678670935,
 600: 0.18442777839082938,
 606: 0.9146591207600472,
 610: -0.47140452079103173,
 18: 1.0,
 19: -0.5,
 21: 0,
 45: 0.5000000000000009,
 63: -0.4999999999999982,
 64: 0.0,
 66: 0.5000000000000009,
 107: -1.0,
 122: 0.8660254037844387,
 132: 1.0000000000000004,
 140: 0.5,
 141: 0,
 144: 1.0,
 153: 0.8660254037844379,
 156: 0.1889822365046138,
 160: 0.8660254037844402,
 166: -0.6546536707079772,
 198: 0.0,
 200: 0.7559289460184552,
 201: 0,
 232: 0.6546536707079778,
 240: -0.8660254037844386,
 249: 0,
 266: 0.5,
 275: -0.4999999999999982,
 282: -1.000000000000007,
 292: -1.0000000000000018,
 294: 0.5000000000000009,
 304: 0.8660254037844356,
 305: 1.0,
 313: -0.4999999999999929,
 323: 0.0,
 328: -0.5000000000000002,
 353: 0.8660254037844356,
 359: 0.8660254037844448,
 372: 0.142857142857144,
 373: 0.866025403784439,
 380: 0,
 381: 0.6546536707079778,
 387: -0.18898223650461649,
 391: 0.8660254037844387,
 411: 0.8660254037844356,
 425: 0.8660254037844387,
 432: -0.8660254037844386,
 462: 0.8029550685469661,
 470: 0.0,
 476: -0.8660254037844402,
 484: 0.7205766921228925,
 489: 1.0,
 500: 0,
 504: 0,
 514: 0,
 525: 1.0,
 555: 0.5000000000000009,
 559: -0.5,
 560: 0.9819805060619666,
 562: 0.9999999999999858,
 570: 0.8660254037844448,
 573: 0.8660254037844264,
 590: 0.9607689228305233,
 603: 0.052414241836095235,
 604: 0.0,
 605: -0.7205766921228919,
 607: 0.0,
 1: -1.0,
 4: 0}

In [26]:
#this is a dataframe of our dictionary witch sorted by similarity and return first 20 items of that because the original one is too large
tmp = pd.DataFrame.from_dict(pearsonCorrelationDict, orient='index')
tmp.columns = ['similarity']
tmp['userId'] = tmp.index
tmp = tmp.sort_values(by='similarity', ascending=False)
tmp = tmp.reset_index(drop=True)
tmp = tmp[:20]
tmp

    similarity  userId
0     1.000000     132
1     1.000000      18
2     1.000000     305
3     1.000000     489
4     1.000000     525
5     1.000000     144
6     1.000000     562
7     0.986404     434
8     0.981981     560
9     0.965581     307
10    0.960769     590
11    0.959271     298
12    0.943880     226
13    0.942809     182
14    0.937614     414
15    0.920737     608
16    0.914659     606
17    0.903594     330
18    0.870388     135
19    0.866025     570

In [27]:
sr = ratings_df[ratings_df['userId'].isin(tmp['userId'].tolist())] #sr is a subset of ratings witch are belongs to selected users
tmp = pd.merge(sr, tmp, on='userId', how='inner') #we gather rating and similarity for each record by merging 2 dataframe
tmp['w_rating'] = tmp['rating']*tmp['similarity'] #calculating weightedRating for each movie by similarity*rating
tmp = tmp.groupby('movieId')['similarity','w_rating'].sum() #calculating sum of rating and weightedRating for each movie
tmp['score'] = tmp['w_rating']/tmp['similarity'] #calculating score of each movie
tmp

/var/folders/bf/9616ns414yg2qn2p8czl2sr00000gn/T/ipykernel_8186/807325123.py:4: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  tmp = tmp.groupby('movieId')['similarity','w_rating'].sum() #calculating sum of rating and weightedRating for each movie

         similarity   w_rating     score
movieId
1         17.153713  59.989294  3.497161
2         14.314264  37.745121  2.636889
3          5.632175  17.868134  3.172510
5          2.898383   5.796767  2.000000
6          5.827596  21.863790  3.751768
...             ...        ...       ...
184791     0.937614   2.344036  2.500000
185135     1.000000   4.500000  4.500000
185585     1.000000   2.500000  2.500000
187593     1.000000   5.000000  5.000000
187595     0.937614   3.281651  3.500000

[4588 rows x 3 columns]

In [28]:
costum_movies = tmp.sort_values(by='score', ascending=False)
costum_movies = costum_movies[costum_movies['score']>3] #ratings are between 0 and 5. so those are over 3 means favorit
costum_movies = pd.merge(costum_movies, movies_df, left_index=True, right_on='movieId').iloc[:,2:] #merge dataframes to get titles
costum_movies

      score  movieId                                             title
5013    5.0     7767    Best of Youth, The (La meglio gioventù) (2003)
712     5.0      931                                 Spellbound (1945)
912     5.0     1211  Wings of Desire (Himmel über Berlin, Der) (1987)
4969    5.0     7579                        Pride and Prejudice (1940)
687     5.0      905                      It Happened One Night (1934)
...     ...      ...                                               ...
518     3.0      605                               One Fine Day (1996)
3524    3.0     4815                         Hearts in Atlantis (2001)
3411    3.0     4640                                    Brother (2000)
2089    3.0     2779                            Heaven Can Wait (1978)
790     3.0     1033                     Fox and the Hound, The (1981)

[2711 rows x 3 columns]

### Content-based

In [29]:
mov = pd.read_csv('movies.csv')
mov

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [30]:
# generate a seprate column for each genre
movg = mov.copy()
movg['genres'] = movg['genres'].str.split('|')
for index,row in movg.iterrows():
    for g in row['genres']:
        movg.at[index,g] = 1

movg = movg.fillna(0)
movg = movg.drop(['genres'], axis=1)
movg

,movieId,title,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,...,Horror,Mystery,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,(no genres listed)
0,1,Toy Story (1995),1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,Jumanji (1995),1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,Grumpier Old Men (1995),0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,Waiting to Exhale (1995),0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,Father of the Bride Part II (1995),0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9738,193583,No Game No Life: Zero (2017),0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9739,193585,Flint (2017),0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9740,193587,Bungo Stray Dogs: Dead Apple (2018),0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9741,193609,Andrew Dice Clay: Dice Rules (1991),0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [31]:
# user input movies
input = pd.DataFrame({'movieId':[1968,1,2,296,1274],'rating':[5.0,3.5,2.0,5.0,4.5]})
input = input.sort_values(by='movieId')
input

   movieId  rating
1        1     3.5
2        2     2.0
3      296     5.0
4     1274     4.5
0     1968     5.0

In [32]:
inputr = input['rating'].reset_index(drop=True)
inputr

0    3.5
1    2.0
2    5.0
3    4.5
4    5.0
Name: rating, dtype: float64

In [33]:
usermg = movg[movg['movieId'].isin(input['movieId'].tolist())]
usermg = usermg.drop('movieId', axis=1).drop('title', axis=1)
usermg = usermg.reset_index(drop=True)
usermg

,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Mystery,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,(no genres listed)
0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [34]:
#calculate user profile
user_profile = inputr.transpose().dot(usermg)
user_profile

Adventure             10.0
Animation              8.0
Children               5.5
Comedy                13.5
Fantasy                5.5
Romance                0.0
Drama                 10.0
Action                 4.5
Crime                  5.0
Thriller               5.0
Horror                 0.0
Mystery                0.0
Sci-Fi                 4.5
War                    0.0
Musical                0.0
Documentary            0.0
IMAX                   0.0
Western                0.0
Film-Noir              0.0
(no genres listed)     0.0
Name: rating, dtype: float64

In [35]:
#calculate score of each movie for our user
mov_score = (user_profile.transpose()*movg).sum(axis=1)/sum(user_profile)
mov_score = pd.DataFrame(data=mov_score)
mov_score = mov_score.rename(columns={0:'score'})
mov_score

         score
0     0.594406
1     0.293706
2     0.188811
3     0.328671
4     0.188811
...        ...
9737  0.440559
9738  0.377622
9739  0.139860
9740  0.174825
9741  0.188811

[9742 rows x 1 columns]

In [36]:
#merge dataframe with original dataframe to bring titles
costum_movie2 = pd.merge(mov_score, mov, left_index=True, right_index=True).drop('genres', axis=1)
costum_movie2 = costum_movie2.sort_values(by='score',ascending=False)

#score over 0.5 means 'good movie'
costum_movie2 = costum_movie2[costum_movie2['score']>0.5]
costum_movie2

         score  movieId                                              title
8900  0.734266   134853                                  Inside Out (2015)
9169  0.685315   148775         Wizards of Waverly Place: The Movie (2009)
8597  0.678322   117646              Dragonheart 2: A New Beginning (2000)
4631  0.678322     6902                               Interstate 60 (2002)
7441  0.671329    81132                                      Rubber (2010)
...        ...      ...                                                ...
9542  0.503497   172637           Priklyucheniya Kapitana Vrungelya (1979)
7547  0.503497    85179                     Summer Wars (Samâ wôzu) (2009)
5350  0.503497     8917                  Team America: World Police (2004)
8109  0.503497   100611                    Escape from Planet Earth (2013)
6668  0.503497    57504  Girl Who Leapt Through Time, The (Toki o kaker...

[180 rows x 3 columns]

## Merge Both results for make decision

In [37]:
from sklearn.preprocessing import MinMaxScaler
# find commen result from both recommender systems
recommended = pd.merge(costum_movies,costum_movie2,how='inner', on='movieId').drop('title_x',axis=1)

# normalize scores becuase of the different ranges
recommended['collaborative'] = MinMaxScaler().fit_transform(recommended.score_x.values.reshape(-1,1))
recommended['content_based'] = MinMaxScaler().fit_transform(recommended.score_y.values.reshape(-1,1))

# calculate final score 
recommended['final_score'] = (recommended['collaborative']+recommended['content_based'])/2

# clean dataframe and reset_index and sort by scores
recommended = recommended.drop(['score_x','score_y'],axis=1)
recommended = recommended.sort_values(by='final_score', ascending=False)
recommended = recommended.rename(columns={'title_y':'title'})
recommended = recommended.reset_index(drop=True)
recommended

,movieId,title,collaborative,content_based,final_score
0,1223,"Grand Day Out with Wallace and Gromit, A (1989)",1.000000,0.333333,0.666667
1,6902,Interstate 60 (2002),0.572208,0.757576,0.664892
2,134853,Inside Out (2015),0.276608,1.000000,0.638304
3,78499,Toy Story 3 (2010),0.709501,0.393939,0.551720
4,3000,Princess Mononoke (Mononoke-hime) (1997),0.979824,0.121212,0.550518
5,108932,The Lego Movie (2014),0.392381,0.666667,0.529524
6,1907,Mulan (1998),0.354305,0.666667,0.510486
7,2987,Who Framed Roger Rabbit? (1988),0.281331,0.696970,0.489150
8,4886,"Monsters, Inc. (2001)",0.507825,0.393939,0.450882
9,4719,Osmosis Jones (2001),0.283920,0.606061,0.444990
10,4306,Shrek (2001),0.479081,0.393939,0.436510
11,72226,Fantastic Mr. Fox (2009),0.436831,0.363636,0.400234
12,2005,"Goonies, The (1985)",0.611979,0.181818,0.396899
13,2761,"Iron Giant, The (1999)",0.642679,0.121212,0.381946
14,26662,Kiki's Delivery Service (Majo no takkyûbin) (1...,0.572208,0.181818,0.377013
15,52287,Meet the Robinsons (2007),0.140135,0.606061,0.373098
16,2090,"Rescuers, The (1977)",0.572208,0.151515,0.361862
17,3114,Toy Story 2 (1999),0.325150,0.393939,0.359545
18,56152,Enchanted (2007),0.283920,0.393939,0.338929
19,2123,All Dogs Go to Heaven (1989),0.283920,0.393939,0.338929
20,1,Toy Story (1995),0.282283,0.393939,0.338111
21,8961,"Incredibles, The (2004)",0.322294,0.333333,0.327814
22,2890,Three Kings (1999),0.519232,0.121212,0.320222
23,6377,Finding Nemo (2003),0.573538,0.060606,0.317072
24,58299,Horton Hears a Who! (2008),0.572208,0.060606,0.316407
25,4016,"Emperor's New Groove, The (2000)",0.230027,0.393939,0.311983
26,152081,Zootopia (2016),0.274638,0.333333,0.303985
27,2138,Watership Down (1978),0.423423,0.181818,0.302621
28,2294,Antz (1998),0.192997,0.393939,0.293468
29,3034,Robin Hood (1973),0.516099,0.060606,0.288353
30,57504,"Girl Who Leapt Through Time, The (Toki o kaker...",0.572208,0.000000,0.286104
31,7099,Nausicaä of the Valley of the Wind (Kaze no ta...,0.414309,0.121212,0.267760
32,38038,Wallace & Gromit in The Curse of the Were-Rabb...,0.462159,0.060606,0.261383
33,106696,Frozen (2013),0.428064,0.060606,0.244335
34,588,Aladdin (1992),0.420310,0.060606,0.240458
35,62999,Madagascar: Escape 2 Africa (2008),0.146200,0.333333,0.239767
36,1396,Sneakers (1992),0.349857,0.090909,0.220383
37,81564,Megamind (2010),0.423423,0.000000,0.211711
38,80219,Machete (2010),0.295823,0.121212,0.208517
39,1432,Metro (1997),0.287334,0.121212,0.204273
40,8360,Shrek 2 (2004),0.327675,0.060606,0.194141
41,91542,Sherlock Holmes: A Game of Shadows (2011),0.227446,0.121212,0.174329
42,2857,Yellow Submarine (1968),0.284716,0.060606,0.172661
43,45431,Over the Hedge (2006),0.283920,0.060606,0.172263
44,91353,Asterix in America (a.k.a Asterix Conquers Ame...,0.283920,0.060606,0.172263
45,2355,"Bug's Life, A (1998)",0.217794,0.060606,0.139200
46,5218,Ice Age (2002),0.213417,0.060606,0.137012
47,145,Bad Boys (1995),0.145047,0.121212,0.133130
48,33615,Madagascar (2005),0.188634,0.060606,0.124620
49,6350,Laputa: Castle in the Sky (Tenkû no shiro Rapy...,0.100502,0.121212,0.110857
50,26776,Porco Rosso (Crimson Pig) (Kurenai no buta) (1...,0.077659,0.060606,0.069132
51,5628,Wasabi (2001),0.000000,0.121212,0.060606